PowerOff.Core/bin/
PowerOff.Core/obj/
PowerOff.Core/Migrations/
PowerOff.Host/bin/
PowerOff.Host/obj/
PowerOff.Initializer/obj/
PowerOff.Initializer/bin/
.vs/
PowerOff.Repositories/bin/
PowerOff.Repositories/obj/