@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

  <div class="pagetitle">
      <h1>Welcome</h1>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
