@using PowerOff.Core.Entities
@model Locality

@{
    ViewData["Title"] = $"Інформація про віялові відключення електроенергії у {Model.Title}";
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<hr />

<style>
    .card {
        height: 210px;
    }
    .card-header {
        font-family: Nunito;
        font-size: 17px;
        font-weight: 600;
    }
    .card-body {
        font-size: 14px;
    }
</style>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header"><i class="bi bi-calendar-check"></i> Попередня подія</div>
            <div class="card-body">
                <br />
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div><!-- End Center aligned spinner -->
                <br />
                <div class="alert alert-warning">
                    <i class="bi bi-info-circle"></i>&nbsp;&nbsp;Інформація про подію відсутня...
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header"><i class="bi bi-calendar-range"></i>&nbsp;&nbsp;Поточна подія</div>
            <div class="card-body">
                <br />
                <p>Початок: <strong>12:40 12.10.2022</strong><br />
                Завершення: <strong>18:40 12.10.2022</strong><br />
                Тривалість: <strong>01:15</strong></p>
                <button type="button" class="btn btn-outline-primary btn-sm float-end">Деталі <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header"><i class="bi bi-calendar"></i>&nbsp;&nbsp;Наступна подія</div>
            <div class="card-body">
                <br />
                <p>
                    Початок: <strong>12:40 12.10.2022</strong><br />
                    Завершення: <strong>18:40 12.10.2022</strong><br />
                    Тривалість: <strong>01:15</strong>
                </p>
                <button type="button" class="btn btn-outline-primary btn-sm float-end">Деталі <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<style>
#map { 
    width: 100%;
    border: 3px solid #fff;
}
</style>
<div id="map" class="card">
    <br />
   <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div><!-- End Center aligned spinner -->
</div>

@section Scripts {
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    <link href="~/lib/leaflet/leaflet.min.css" rel="stylesheet" />
    <script>

        function setMapHeight() {

            if ($(window).height() < 600) {
                $("#map").height(300);
            } else {
                $("#map").height($(window).height() - 430);
            }              
        }
        
        $(function() {

            setMapHeight();

            var map = L.map('map').setView([@Model.Longitude, @Model.Latitude], 15);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var marker = L.marker([@Model.Longitude, @Model.Latitude]).addTo(map);            

            window.addEventListener('resize', setMapHeight);
        });

       
    </script>
}

